body {
  padding-top: 75px;
}

.index-image-container {
  padding: 40px 15px;
  text-align: center;
}

.index-image-container img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.browse .textContainer { 
  height: 430px; 
  line-height: 400px;
}

.textContainer h2 {
  vertical-align: middle;
  display: inline-block;
}
