body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.browse .textContainer { 
    height: 430px; 
    line-height: 400px;
}

.textContainer h2 {
    vertical-align: middle;
    display: inline-block;
}