.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

glyphicon-search:before {
	http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css
    content: "\e003";
}