{% extends "layout.html" %}
{% set active_page = "about" %}
{% block title %}About{% endblock %}
{% block content %}
  <br>
  <div class="container marketing text-center">
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="static/images/evan_carrillo.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Evan Carrillo</h2>
        <p class="text-center">
          Graduating Senior, moving to Maryland to work in CryptoAnalytics<br>
          major responsibilities: database design, implementation and back-end
        </p>
        <ul class="list-unstyled">
          <li>24 commits</li>
          <li>9 issues</li>
          <li>1 unit tests</li>
        </ul>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/static/images/alex_irion.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Alex Irion</h2>
        <p class="text-center">
          <br>
          major responsibilities: perform
        </p>
        <ul class="list-unstyled">
          <li>26 commits</li>
          <li>8 issues</li>
          <li>3 unit tests</li>
        </ul>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/static/images/Guande_Lyu.jpg" width="140" height="140">
        <h2>Guande Lyu</h2>
        <p class="text-center">
          Nice guy finish dinner.<br>
          major responsibilities: eat
        </p>
        <ul class="list-unstyled">
          <li>32 commits</li>
          <li>10 issues</li>
          <li>2 unit tests</li>
        </ul>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>

  <br>
  <div class="container marketing text-center">
    <div class="row">
      <div class="col-lg-3">
        <img class="img-circle" src="/static/images/Lei_Lin.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Lei Lin</h2>
        <p class="text-center">
          Babysitter with a professional license. Love babysitting!<br>major responsibilities: babysitting
        </p>
        <ul class="list-unstyled">
          <li>43 commits</li>
          <li>8 issues</li>
          <li>1 unit tests</li>
        </ul>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
          <img class="img-circle" src="static/images/jake_mayo.jpg" width="140" height="140">
          <h2>Jake Mayo</h2>
          <p>Married with NO children</p>
          <p>major responsibilities: Api, Front End, Logo</p>
          <ul class="list-unstyled">
            <li>68 commits</li>
            <li>10 issues</li>
            <li>6 unit tests</li>
          </ul>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <img class="img-circle" src="static/images/Rafik_Rizik.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Rafik Rizik</h2>
        <p class="text-center">
          A handsome billionaire, and that's it.<br>
          major responsibilities: being handsome
        </p>
        <ul class="list-unstyled">
          <li>31 commits</li>
          <li>8 issues</li>
          <li>2 unit tests</li>
        </ul>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <img class="img-circle" src="static/images/kris_vandercook.jpg" width="140" height="140">
        <h2>Kristofer Vandercook</h2>
        <p class="text-center">
          A man of mystery and power, whose power is exceeded only by his mystery<br>
          major responsibilities: save world
        </p>
        <ul class="list-unstyled">
          <li>56 commits</li>
          <li>9 issues</li>
          <li>23 unit tests</li>
        </ul>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

      
    <hr class="featurette-divider">
    <button onclick="myFunction()" class="btn btn-primary clearBtn">Run Unit Tests</button>
        <p id="demo"></p>
          <script>
          function myFunction() {
            document.getElementById("demo").innerHTML = "loading...";
            $(document).ready(function(){
            var url = '/testinate';
            $.get(url).done(function(data){
              document.getElementById("demo").innerHTML = data["result"].replace(/(?:\r\n|\r|\n)/g, '<br />');
            });
          });
         }
        </script>
	<button onclick="location.href='http://speakerdeck.com/alexirion10/sweetcooking-presentation'" class="btn btn-primary cleanBtn">Presentation</button>
  <button onclick="location.href='/artsnob'" class="btn btn-primary cleanBtn">Artsnob Api Visualization</button>
   </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Team <span class="text-muted">Statistics</span></h2>
        <p class="lead">total number of commits: 280<br>
          total number of issues: 62<br>
          total number of unit tests: 38<br>

          <a href="http://docs.sweetcooking1.apiary.io/#reference">Apiary Api</a><br>
          <a href="https://github.com/cs373gc-fall-2016/SweetCooking/issues">Github Issue Tracker</a><br>
          <a href="https://github.com/cs373gc-fall-2016/SweetCooking">Github Repo</a><br>
          <a href="https://github.com/cs373gc-fall-2016/SweetCooking/wiki">Github Wiki</a><br>
          
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="static/images/01.jpg" width="500" height="500">
      </div>
    </div>


    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Data <span class="text-muted">Sources</span></h2>
        <p class="lead">
          <a href="https://spoonacular.com/food-api">Spoonacular</a> offers its food parsing, matching, and searching technology for businesses and developers to create outstanding applications.<br>
          <a href="https://developers.google.com/youtube/v3/">Youtube</a> allows billions of people to discover, watch and share originally-created videos.
        </p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="static/images/02.jpg" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Tools <span class="text-muted">Used</span></h2>
          <p class="lead"><a href="http://getbootstrap.com">Bootstrap</a> a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.<br>
            <a href="https://slack.com">Slack</a> a real-time messaging, archiving and search for modern teams.<br>
            <a href="http://flask.pocoo.org">Flask</a> is a small and powerful web framework for Python<br>
            <a href="https://github.com">Github</a> a web-based Git repository hosting service, which offers all of the distributed version control and source code management (SCM).
          </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="static/images/03.jpg" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>
{% endblock %}
