{% extends "layout.html" %}
{% set active_page = "foodproducts" %}
{% block title %}Foodproducts{% endblock %}
{% block content %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><button class="button button1">Name</button></th>
          <th><button class="button button1">Price</button></th>
          <th><button class="button button1">Desciption</button></th>
          <th><button class="button button1">Similiar foods</button></th>
          <th><button class="button button1">Nutrition</button></th>
          <th><button class="button button1">Ingredients</button></th>
          <th><button class="button button1">Category</button></th>
          <th><button class="button button1">Lifestyle</button></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="oreo_product">Oreo</a></td> <td>$4</td> <td>delicious icing sandwhich in chocolate crackers</td> <td> Chips Ahoy! </td>  <td>Calories 140 Sodium 90 mgTotal Fat 7 g Potassium 35 mg Saturated 2 g Total Carbs 21 g</td> <td> sugar</td> <td> snack</td> <td> unhealthy</td>
        </tr>

        <tr>
          <td><a href="peanutbutter_product">Jiff Peanut Butter</a></td> <td>$2.48</td> <td>Peanuts crushed into a cream</td> <td> Nutella, Jelly</td>  <td>16 g fat 190 calories per serving</td> <td> sugar</td> <td> snack</td> <td> unhealthy</td>
        </tr>
        
        <tr>
          <td><a href="tostito_product">Tostitos Chips</a></td> <td>$3.99</td> <td>Restaurant style tortilla chips</td> <td> Doritos, Fritos</td>  <td>7g fat 140 calories per serving</td> <td> sugar</td> <td> snack</td> <td> healthy</td>
        </tr>
        
        <tr>
          <td><a href="tomato_sauce_product">Tomato Sauce</a></td> <td> $0.81 </td> <td> tomoato product </td> <td> Year Round </td> <td> 10 calories in 1 tbsp </td> <td> sugar</td> <td> snack</td> <td> healthy</td>
        </tr> 

        <tr>
          <td><a href="bbq_sauce_product">Bbq Sauce</a></td> <td> $5.09 </td> <td> BBQ product </td>  <td> Year Round </td> <td> 50 calories in 1 tbsp </td> <td> sugar</td> <td> snack</td> <td> unhealthy</td> 
        </tr>

      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function() { 
    $("table").tablesorter({  
        sortList: [[0,0],[2,0]] 
    }); 
  });
  </script>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
  <script src="/static/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="ie10-viewport-bug-workaround.js"></script>
{% endblock %}
