{% extends "layout.html" %}
{% set active_page = "foodproducts" %}
{% block title %}Foodproducts{% endblock %}
{% block content %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Servingsize</th>
          <th>Calories</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Satfat</th>
          <th>Transfat</th>
          <th>Carbs</th>
          <th>Sugar</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

{% endblock %}

{% block javascript %} 
  {{ super() }}
  <script>
    $(document).ready(function() {
      var myProducts = [];
      $.ajax({
        url: '/api/products/',
        type: 'GET',
      })
      .done(function(data){
        for (var i in data) {
          myProducts.push(data[i]);
        }
        $(".table").DataTable({ 
          data: myProducts,
        });
      });
    });
  </script>
{% endblock %}
