{% extends "layout.html" %}
{% set active_page = "foodproducts" %}
{% block title %}Foodproducts{% endblock %}
{% block content %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Servingsize</th>
          <th>Calories</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Satfat</th>
          <th>Transfat</th>
          <th>Carbs</th>
          <th>Sugar</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

{% endblock %}

{% block javascript %} 
  {{ super() }}
  <script>
    $(document).ready(function() {
      $.ajax({
        url: '/api/foodproducts/',
        type: 'GET',
      })
      .done(function(data){
        var keys = Object.keys(data);
        var values = keys.map(function(v) { return data[v]; });
        var myFoodProducts = values.map(function(ele) {
          var link = '<a href="/foodproducts/' + ele.id + '">' + ele.name + '</a>';
          return [link, ele.servingsize, ele.calories, ele.protein, ele.fat, ele.satfat, ele.transfat, ele.carbs, ele.sugar, ele.lifestyles_name, ele.lifestyles_id];
        });
        $(".table").DataTable({ 
          data: myFoodProducts,
        });
      });
    });
  </script>
{% endblock %}
