{% extends "layout.html" %}
{% block title %}Index{% endblock %}
<style type="text/css">
  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
</style>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
<script src="/static/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="ie10-viewport-bug-workaround.js"></script>
{% block content %}
  <div class="container">
    <div class="starter-template">
   <!--      <h1>Sweek Cooking</h1>
      <p class="lead"> Apple-Pen, Pineapple-Pen Uh! Pen-Pineapple-Apple-Pen Pen-Pineapple-Apple-Pen </p> -->
    <img src="/static/images/Logo.png"><br><br>
    <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
{% endblock %}





