{% extends "layout.html" %}
{% set active_page = "ingredients" %}
{% block title %}Ingredients{% endblock %}
{% block content %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Calories</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Carbs</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
 
{% endblock %}

{% block javascript %} 
  {{ super() }}
  <script>
    $(document).ready(function() {
      var myIngredients = [];
      $.ajax({
        url: '/api/ingredients/',
        type: 'GET',
      })
      .done(function(data){
        for (var i in data) {
          myIngredients.push(data[i]);
        }
        $(".table").DataTable({ 
          data: myIngredients,
        });
      });
    });
  </script>
{% endblock %}
