{% extends "layout.html" %}
{% set active_page = "ingredients" %}
{% block title %}Ingredients{% endblock %}
{% block content %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><button class="button button1">Name</button></th>
          <th><button class="button button1">Price</button></th>
          <th><button class="button button1">Season</button></th>
          <th><button class="button button1">Nutrition</button></th>
          <th><button class="button button1">Recipes</button></th>
          <th><button class="button button1">Products</button></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="salt_ingredient">Salt</a></td> <td> $0.81 </td> <td> Year Round </td> <td> 0 calories in 1 tbsp </td> 
          <td> Sushi </td> <td> Oreo </td>
        </tr> 
        <tr>
          <td><a href="tomato_ingredient">Tomato</a></td> <td> $0.12 </td> <td> Spring and Summer </td> <td> 22 calories in 1 medium whole Red Tomato. Calorie breakdown: 9% fat, 78% carbs, 13% protein. Other Common Serving </td> <td> Pizza </td> <td> ketchup </td>
        </tr>

        <tr>
          <td><a href="sugar_ingredient">Sugar</a></td> <td> $0.81 </td> <td> Year Round </td> <td> 0 calories in 1 tbsp </td> <td> Pizza </td> <td> Oreo </td>
        </tr>
        
        <tr>
          <td><a href="onion_ingredient">Onion</a></td> <td> $1.40 </td> <td> Year Round </td> <td> 30 calories per bulb </td> <td> Pizza </td> <td> </td>
        </tr>

        <tr>
          <td><a href="chicken_ingredient">Chicken</a></td> <td> $7.99 </td> <td> Year Round </td> <td> 200 calories per ounce </td> <td> Pizza </td> <td> </td>
        </tr>

        <tr>
          <td><a href="cheese_ingredient">Cheese</a></td> <td> $0.81 </td> <td> Year Round </td> <td> 0 calories in 1 tbsp </td> <td> Pizza </td> <td>  </td>
        </tr>
      </tbody>
    </table>
  </div>
 
  <script>
    $(document).ready(function() { 
    $("table").tablesorter({  
        sortList: [[0,0],[2,0]] 
    }); 
  });
  </script>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  
  <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
  <script src="/static/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="ie10-viewport-bug-workaround.js"></script>
{% endblock %}
