{% extends "layout.html" %}

{% block content %}
  <div class="container ingredient-container">    
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive"></img>
      </div>
      <div class="col-md-8">
        <ul></ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %} 
  {{ super() }}
  <script>
    $(document).ready(function(){
      var url = '/api/ingredients/{{ id }}';
      $.get(url).done(function(data){
        $('.ingredient-container img').attr('src', data.img);
        $('.ingredient-container ul')
          .append('<li><h4> name:' + data.name + '</h4></li>')
          .append('<li><h4> calories:' + data.calories + '</h4></li>')
          .append('<li><h4> protein:' + data.protein + '</h4></li>')
          .append('<li><h4> fat:' + data.fat + '</h4></li>')
          .append('<li><h4> carbs:' + data.carbs + '</h4></li>');
      });
    });
  </script>
{% endblock %}
