{% extends "layout.html" %}
{% set active_page = "lifestyles" %}
{% block title %}Lifestyles{% endblock %}
{% block content %}
  <div class="container">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Weight management</th>
          <th>Dietary restrictions</th>
          <th>Gluten-free</th>
          <th>Carb-free</th>
          <th>Vegetarian/vegan</th>
          <th>Products</th>
          <th>Recipes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="weightloss_lifestyle">Weight loss</a></td> <td>Consume less than 2000 Calories per day</td> <td>Depends on Person</td> <td>No</td>  <td>Depends</td> <td></td> <td>sushi</td>
        </tr>

        <tr>
          <td><a href="vegan_lifestyle">Vegan</a></td> <td>Do not consume anything from animals</td> <td>No</td> <td>No</td>  <td>All Vegans are Vegetarians</td> <td>Oreo</td> <td>sushi</td>
        </tr>

        <tr>
          <td><a href="fit_lifestyle">Fit</a></td> <td> Consume higher protein and less carbs</td> <td> Depends </td> <td> Depends </td>  <td>It is possible </td> <td></td> <td>sushi</td>
        </tr>

      </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %} 
  {{ super() }}
  <script>
    $(document).ready(function() {
      $(".table").DataTable({ 
      });
    });
  </script>
{% endblock %}
