{% extends "layout.html" %}
{% set active_page = "recipes" %}
{% block title %}Recipes{% endblock %}
{% block content %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Time</th>
          <th>Instructions</th>
          <th>Servings</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

{% endblock %}

{% block javascript %} 
  {{ super() }}
  <script>
    $(document).ready(function() {
      $.ajax({
        url: '/api/recipes/',
        type: 'GET',
      })
      .done(function(data){
        var keys = Object.keys(data);
        var values = keys.map(function(v) { return data[v]; });
        var myRecipes = values.map(function(ele) {
          var link = '<a href="/recipes/' + ele.id + '">' + ele.name + '</a>';
          return [link, ele.time, ele.instructions, ele.servings, ele.ingredients_name, ele.ingredients_id, ele.lifestyles_name, ele.lifestyles_id];
        });
        $(".table").DataTable({ 
          data: myRecipes,
        });
      });
    });
  </script>
{% endblock %}

