{% extends "layout.html" %}
{% set active_page = "recipes" %}
{% block title %}Recipes{% endblock %}
{% block content %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><div class="table-header">Name</div></th>
          <th><div class="table-header">Price</div></th>
          <th><div class="table-header">Category</div></th>
          <th><div class="table-header">Origin</div></th>
          <th><div class="table-header">Cook time</div></th>
          <th><div class="table-header">Nutrition</div></th>
          <th><div class="table-header">Lifestyle</div></th>
          <th><div class="table-header">Ingredients</div></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/sushi">California Sushi Roll</a></td> <td>$8</td> <td>sushi</td> <td>Japan</td>  <td>1.5 hours</td> <td>8 Pieces, Calories: 255, Fat: 7g, Carbs: 38g, Protein: 9g</td> <td>fit, vegan</td> <td>rice</td> 
        </tr>

        <tr>
          <td><a href="/spaghetti_meatballs">Spaghetti meatballs</a></td> <td>$7</td> <td>spaghetti</td> <td>Italian - American</td>  <td>1 hour</td> <td>220 Calories per serving, 8g Protein, 183mg Sodium</td> <td>healthy</td> <td>pork floor</td> 
        </tr>

        <tr>
          <td><a href="/pizza">Chicken pizza</a></td> <td>$6</td> <td>pizza</td> <td>Italian</td>  <td>1.5 hours</td> <td>184 Calories per serving, 13g Protein, 382mg Sodium</td> <td>healthy</td> <td>cheese</td> 
        </tr>
      </tbody>
    </table>
  </div>

  {% block javascript %} 
    {{ super() }}
    <script>
      $('table').tablesorter({  
        sortList: [[0,0],[2,0]] 
      }); 
    </script>
  {% endblock %}

{% endblock %}

