{% extends "layout.html" %}
{% set active_page = "recipes" %}
{% block content %}
  <div class="container recipe-container">    
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive"></img>
      </div>
      <div class="col-md-8">
        <ul></ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %} 
  {{ super() }}
  <script>
    $(document).ready(function(){
      var url = '/api/recipes/{{ id }}';
      $.get(url).done(function(data){
        $('.recipe-container img').attr('src', data.img);
        $('.recipe-container ul')
          .append('<li><h4> name: ' + data.name + '</h4></li>')
          .append('<li><h4> time: ' + data.time + '</h4></li>')
          .append('<li><h4> instructions: ' + data.instructions + '</h4></li>')
          .append('<li><h4> servings: ' + data.servings + '</h4></li>')
          .append('<li><h4> ingredients: ' + '</h4></li>');          
          for(var i = 0; i < data.ingredients_name.length; i++) {
            $('.recipe-container ul')
              .append('<li><h4><a href="/ingredients/' + data.ingredients_id[i] + '">' + data.ingredients_name[i] + '</a></h4></li>');
          }          
          $('.recipe-container ul')
            .append('<li><h4> lifestyles: </h4></li>');   
            for(var i = 0; i < data.lifestyles_name.length; i++) {
            $('.recipe-container ul')
              .append('<li><h4><a href="/lifestyles/' + data.lifestyles_id[i] + '">' + data.lifestyles_name[i] + '</a></h4></li>');
          } 
      });
    });
  </script>
{% endblock %}
