{% extends "layout.html" %}
{% set active_page = "recipes" %}
{% block title %}Recipes{% endblock %}
{% block content %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Time</th>
          <th>Instructions</th>
          <th>Servings</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

{% endblock %}

{% block javascript %} 
  {{ super() }}
  <script>
    $(document).ready(function() {
      var myRecipes = [];
      $.ajax({
        url: '/api/recipes',
        type: 'GET',
      })
      .done(function(data){
        for (var i in data) {
          myRecipes.push(data[i]);
        }
        $(".table").DataTable({ 
          data: myRecipes,
        });
      });
    });
  </script>
{% endblock %}

